<style type="text/css">
	body{
		background-color: #333;
		background-image: url("<%= asset_path("try_search_bg.jpg") %>");
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.search-all-div{
		/*background-color: #fff;*/
		margin-top: 50px;
		margin-left: 50px;
	}
	.search_icon{
		background-image: url("<%= asset_path("try_search_icon.png") %>");
		background-size:100%;
		background-repeat: no-repeat;
		width: 60px;
		height: 60px;
		background-position: center;
		float: left;
	}
	.search-all-div form{
		background-color: transparent;
		margin-top: 12px;
		margin-left: 15px;
		float: left;
		height: 50px;
		height: 900px;
	}
	.search_input{
		border: 0;
		height: 35px;
		width: 300px;
		line-height: 30px;
		
		
		float: left;
	}
	.search_commit{
		border: 0;
		background-color: #fff;
		background-image: url("<%= asset_path("try_search_click.png") %>");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		width: 35px;
		height: 35px;
		float: left;
	}
</style>

<body>
	<div class="search-all-div">
		<div class="search_icon"></div>
		<form action="<%= blogs_path %>" role="search">
			<input type="text" class="search_input"  value="" placehold="全网站搜索" name="all_blog_search_text">
			<input type="submit" value="" placehole="全局搜索" class="search_commit"> 
		</form>
	</div>
</body>




